@charset "UTF-8";

@import "components/loader";

$bg-color: #fff8dc;
$border-radius: 3px;
$color: #373e44;

div#adidiMorfixChromeExtensionBalloon{
    position: fixed !important;
    width: 300px;
    min-height: 50px;
    background-color: $bg-color !important;
    border: 1px solid #e0dcbf !important;
    transition: all .3s ease;
    border-radius: $border-radius !important;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    font-size: 14px !important;
    line-height: normal !important;
    padding: 0 !important;
    margin: 0 !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    box-sizing: border-box !important;
    z-index: 2147483647 !important;
    color: $color !important;

    &.adidi-mceb-topRight{
        top: 10px !important;
        right: -310px !important;

        &.adidi-mceb-open{
            right: 10px !important;
        }
    }

    &.adidi-mceb-topLeft{
        top: 10px !important;
        left: -310px !important;

        &.adidi-mceb-open{
            left: 10px !important;
        }
    }

    &.adidi-mceb-bottomLeft{
        bottom: 10px !important;
        left: -310px !important;

        &.adidi-mceb-open{
            left: 10px !important;
        }
    }

    &.adidi-mceb-bottomRight{
        bottom: 10px !important;
        right: -310px !important;

        &.adidi-mceb-open{
            right: 10px !important;
        }
    }

    .adidi-mceb-img-box{
        position: absolute;
        top: 3px;
        left: 3px;
        width: 19px !important;
        height: 19px !important;
        max-width: 19px !important;
        max-height: 19px !important;
    }

    .adidi-mceb-x-box{
        position: absolute;
        top: 3px;
        right: 3px;
        width: 9px;
        height: 9px;
        cursor: pointer;

        > img{
            vertical-align: top !important;
            width: 9px !important;
            height: 9px !important;
            max-width: 9px !important;
            max-height: 9px !important;
        }
    }

    .adidi-mceb-title-box{
        display: flex;
        justify-content: center;
        align-items: center;

        > .adidi-mceb-t{
            text-align: center !important;
            width: 250px !important;
            white-space: nowrap !important;
            overflow: hidden !important;
            text-overflow: ellipsis !important;
        }
    }

    .adidi-mceb-content{
        padding: 10px 0 25px 0;

        .adidi-mceb-nr{
            direction: ltr !important;
            font-style: italic !important;
            font-size: 18px !important;
            text-align: center !important;
        }

        .adidi-mceb-result-item{
            &:nth-child(odd){
                background-color: lighten($bg-color, 3%);
            }

            &:nth-child(even){
                background-color: darken($bg-color, 3%);
            }

            display: flex;
            justify-content: space-between;
            padding: 5px 10px;
            border-top: 1px solid #ddd;

            &:last-child{
                border-bottom: 1px solid #ddd;
            }

            &.adidi-mceb-rtl{
                direction: rtl !important;

                .adidi-mceb-t{
                    text-align: right !important;
                }

                .adidi-mceb-ww{
                    direction: ltr !important;
                    text-align: left !important;
                }
            }

            &.adidi-mceb-ltr{
                direction: ltr !important;

                .adidi-mceb-t{
                    text-align: left !important;

                    &.adidi-mceb-viki{
                        direction: rtl !important;
                        text-align: right !important;
                        width: 100% !important;
                    }
                }

                .adidi-mceb-ww{
                    direction: rtl !important;
                    text-align: right !important;
                }
            }


            .adidi-mceb-t{
                width: 80% !important;
                color: $color !important;
            }

            .adidi-mceb-wb{
                display: flex !important;

                .adidi-mceb-w{
                    font-weight: bold !important;
                    color: $color !important;
                }

                .adidi-mceb-s{
                    padding: 0 5px !important;
                    cursor: pointer !important;

                    > img{
                        vertical-align: middle !important;
                        width: 17px !important;
                        height: 15px !important;
                        max-width: 17px !important;
                        max-height: 15px !important;
                    }
                }
            }

            .adidi-mceb-d{
                font-size: 12px !important;
                color: #777 !important;
            }
        }
    }

    .adidi-mceb-footer{
        position: absolute;
        bottom: 5px;
        right: 5px;
        display: flex;
        align-items: center;
        direction: ltr !important;

        a{
            color: #23527c !important;
            font-size: 14px !important;
            text-decoration: none;
            font-weight: normal !important;
            &:hover{
                text-decoration: underline !important;
            }

            &:visited{
                color: #23527c !important;
            }
        }
    }
}